#users

#new_user
  .user_name, .user_password
    border: none
    background: none
    outline: none
    width: 100%
  .user_name
    border-bottom: 2px solid #666
    font-size: 30px
  .user_password
    border-bottom: 1px solid #cfcfcf
    font-size: 16px

#user
  .username
    font-size: 30px
  .email
    font-size: 16px
